body
{
	background-color: #191919;
	color: #FFFFFF;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	
	text-align: center;
}

div.centre
{
	text-align: left;
	
	border: solid 5px #FFFFFF;
	padding: 5px;
	margin: 0px auto;
	max-width: 500px;
	
	overflow: hidden;
}
